# =========================

# Python

# =========================

**pycache**/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================

# Virtual Environment

# =========================

venv/
.env/
.env
.venv/
ENV/

# =========================

# Model Files (ML)

# =========================

*.pkl
*.joblib
*.h5
*.pt
*.onnx

# =========================

# Data Files (Large datasets)

# =========================

data/*.csv
data/*.zip
data/*.parquet

# =========================

# Logs

# =========================

*.log
logs/
backend/logs/

# =========================

# Jupyter Notebook

# =========================

.ipynb_checkpoints/

# =========================

# VS Code / IDE

# =========================

.vscode/
.idea/

# =========================

# OS Files

# =========================

.DS_Store
Thumbs.db

# =========================

# Frontend (if React later)

# =========================

node_modules/
dist/
build/

# =========================

# FastAPI / Temp

# =========================

*.db
*.sqlite3

# =========================

# Secrets / Config

# =========================

.env.*
config.yaml
secrets.json
